<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glömt lösenord</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css"
        rel="stylesheet">
</head>

<body class="bg-white rounded-lg py-5 min-h-screen flex items-center justify-center">
    <div class="container max-w-md mx-auto bg-white rounded-lg pt-12 my-5">
        <div class="flex justify-center w-full h-full my-auto draggable">
            <div class="w-full px-6">
                <form method="POST"
                    class="flex flex-col items-center w-full h-full pb-6 text-center bg-white rounded-3xl">
                    <h3 class="mb-3 text-4xl font-extrabold text-dark-grey-900">Återställ lösenord</h3>
                    <div class="w-1/2 mb-4">
                        <p class="text-grey-700">Ange din e-postadress för att få instruktioner om hur du återställer
                            ditt lösenord</p>
                    </div>

                    <div class="w-1/2">
                        <label for="email" class="mb-2 text-sm text-start text-grey-900 block">E-postadress</label>
                        <input type="email" name="email" id="email" required placeholder="exempel@mail.com"
                            class="flex items-center w-full px-5 py-4 text-sm font-medium outline-none focus:bg-grey-400 mb-7 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl">

                        <button type="submit"
                            class="w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 rounded-2xl hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 bg-purple-blue-500">
                            Skicka återställningslänk
                        </button>
                    </div>

                    <p class="text-sm leading-relaxed text-grey-900">
                        <a href="{{ url_for('valj_klubb') }}" class="text-sm font-medium text-purple-blue-500">
                            Tillbaka till inloggning
                        </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>